html{
    height: 100%;
}
body{
    margin:0;
    padding:0;
    overflow-y: hidden;
    height:100%;
    font-family: Verdana, Arial, Helv, Helvetica, sans-serif;
}

div#headerPanel {
    background: none repeat scroll 0 0 #1C3655;
    height: 40px;
    overflow: hidden;
    width: 100%;
    top: 0;
    clear: right;
}

.header{
    color: white;
    float:left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 2px;
}


#headerPanel span {
    margin-top: 8px;
}

ul#headerInformationContainer {
    float:right;
    margin:0;
    padding-right:20px;
}

ul#headerInformationContainer li{
    display: inline-block;
    margin-left: 20px;
    list-style-type: none;
}

ul#headerInformationContainer li a{
    float:left;
    color:white;
    text-decoration: none;
}

ul#headerInformationContainer li a:hover{
    text-decoration: underline;
}

div#treePanel{
    height: 100%;
    overflow: auto;
    float: left;
    bottom:0;
    width: 30%;
    border-right: 3px solid #1b324f;
}

div#treePanel div.archiveTree{
    margin-right: 0px;
}

div#nodePanel{
    height: 100%;
    width: 69%;
    float: left;
    overflow: hidden;
    padding: 0px 10px;
}


div#feedbackPanel{
    overflow: hidden;
}

.feedbackPanelERROR{
    background: lightcoral;
}

.feedbackPanelINFO{
    background: lightblue;
}

ul.feedbackPanel{
    padding:0;
    border: 1px #ccc;
}

ul.feedbackPanel li{
    list-style: none;
    font-weight: bold;
    padding: 2px;
}

div#actionsPanelContainer{
    overflow:hidden;
}

div#actionsPanel input {
    font-size: medium;
}

/*.nodePresentationContainer {
    height: 100%;
    font-size: 0.8em;
}*/

#detailsPanel h1 {
    font-size: 1.2em;
}

#detailsPanel{
    height:100%;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 0.8em;
}

#detailsPanel img {
    vertical-align:text-top;
}

#iframe {
    width: 100%;
    height: 100%;
}

div#welcomePanel {
    overflow: scroll;
    padding: 5px;
    font-size: 0.9em;
    height: 100%;
}

div#welcomePanel img{
    vertical-align:text-top;
}
ul#navigation {
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:0;
}
ul#navigation li {
    width: 100px;
    display:inline;
}
ul#navigation li a {
    opacity: 1; /** use for internet explorer **/
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
/* buttons */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul#navigation a {
    font-family: 'Verdana';
    font-weight: normal;
    font-style: normal;
    color: white;
    text-decoration: none;
}

/* General button style (reset) */
.btn {
    border: none;
    font-family: inherit;
    font-size: 0.8em;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 20px;
    display: inline-block;
    margin: 5px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.icon-view:before {
    content: "\e60e";
}

.icon-download:before {
    content: "\e60a";
}

.icon-md-search:before {
    content: "\e60c";
}

.icon-content-search:before {
    content: "\e60c";
}

.icon-manage-access:before {
    content: "\e608";
}

.icon-request-access:before {
    content: "\e606";
}

.icon-citation:before {
    content: "\e607";
}

.icon-version:before {
    content: "\e60d";
}


/* Button 3 */
.btn-3 {
    background: #25466f;
    color: #fff;
}

.btn-3:hover {
    background: #4F6D92;
}

.btn-3:active {
    background: #576A75;
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 2;
    font-size: 150%;
    width: 40px;
}

/* Button 3b */
.btn-3b {
    padding: 10px 15px 10px 55px;
    border-radius: 10px;
}

.btn-3b:before {
    border-right: 2px solid rgba(255,255,255,0.5);
}
/**
 * imdi.css
 *
 * LANA style for imdi viewer
 *
 * Freddy Offenga, 2006-04-04
 *
 * #F7FBFB (light yellow) background
 * #7795BB (other light yellow) header background
 * #25466f (red) header names, links
 * #B0B0B0 (grey) group borders
 *
 */
.IMDI_name_value .IMDI_label {
    font-weight: bold; 
    float: left;
    width: 180px;
    /*  //width: 10%;*/
    text-align: right; 
    padding-right:4px;  
    word-wrap:break-word;  
}

.IMDI_name_value .IMDI_value {
    font-weight: normal;
    float: left;
    /*  //width: 335px;*/
    width: 60%;
    text-align: left;  
}

.IMDI_name_value {
    font-family: Verdana, Arial, Helv, Helvetica, sans-serif;
    font-size: 12px;
    clear: left;
}

/** Added key_name_value because they are they have non fixed key lengths so it needs to be set wider without making the rest look crap*/
.IMDI_key_name_value .IMDI_key_label {
    font-weight: bold; 
    float: left;
    width: 350px;
    text-align: right; 
    padding-right:4px;  
    word-wrap:break-word;  
}

.IMDI_key_name_value .IMDI_key_value {
    font-weight: normal;
    width: 60%;
    text-align: left;  
}

.IMDI_key_name_value {
    font-family: Verdana, Arial, Helv, Helvetica, sans-serif;
    font-size: 12px;
    clear: left;
}

/* info after clickable header name */
.IMDI_header_info {
    padding-left: 4px;
}

/* text block */
pre {
    width: 98%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 4px;
    margin-left: 4px;
    padding-top: 5px;
    font-size: 0.9em;
    font-family: Lucida Console, Monaco, monospace;
}

.IMDI_large_text_block {
    height: 128px;
}

.IMDI_small_text_block {

}

a {
    color: #25466f;
}

.marker {
    background-color:yellow;
    color: red;
}

/* link to resource */
.IMDI_link {
    /*font-size: 12px; */
    padding-left: 4px;
}

/* clickable image icon */
.IMDI_click_image {
    padding-right:4px;
}

.IMDI_group {
    padding: 4px;
}

/* static content header */
.IMDI_group_header_static {
    background-color: #1C3655;
    padding: 1px 4px;
    border: solid 1px #1C3655;
    color: white;
    border-radius: 5px 5px 0px 0px;
}

/* dynamic content header */
.IMDI_group_header_dynamic {
    background-color: #BFCED9;
    padding: 1px;  
    border: solid 1px #B0B0B0;  
}

/* clickable header link */
.IMDI_group_header_link {
    color: #25466f;
}

/* dynamic content group */
.IMDI_group_dynamic {  
    display: none;    
    border-collapse:collapse;
    background-color: #F2F2F2; 
    border-left: dashed 1px #B0B0B0;
    border-right: dashed 1px #B0B0B0;
    border-bottom: dashed 1px #B0B0B0;  
}

/* static content groups */
.IMDI_group_static {
    /*//  display: block;*/
    border-collapse:collapse;
    background-color: #F2F2F2;
    border-left: solid 1px #B0B0B0;
    border-right: solid 1px #B0B0B0;
    border-bottom: solid 1px #B0B0B0;  
}

/* top of page header */
.IMDI_header {
    color: #000;
    border: thin solid #B0B0B0;     
    background-color: #F7FBFB;
    text-align: center;
    vertical-align: baseline;
    line-height: 38px;  
    margin-bottom: 10px;
}

.IMDI_logo {
    background-image: url(imdi_120_wo.jpg);
    background-repeat: no-repeat;
    display:block;
    float:left;
    width:120px;
    height: 38px;      
}
